html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 우민 
    body
        div.time 일수 
            span(class= `${countValue[0]}`)= `달성일 : ${countValue[0] ? Math.ceil((new Date().getTime() - new Date(countValue[0].startDate).getTime()) /(1000 * 60 * 60 * 24)) : ''}일` 
            div(class= `${countValue[0]}`)= `목표일 : ${countValue[0] ? countValue[0].goal : ''}일` 
            div(class= `${countValue[0]}`)= `전광판글씨 : ${countValue[0] ? countValue[0].mainText : ''}일`             
            button#resetBtn 초기화
        div.start 
            input(type="text" placeholder="전광판 글씨 입력" maxlength="20").inputMainText
            input(type="text" placeholder="달성일을 입력").inputGoal
            button#startBtn 시작
        script.
            window.countValue = !{JSON.stringify(countValue)}
        script(src="/dist/main.js")
        